.base {
  @apply grid;
}

.background {
  grid-area: 1/1;
  opacity: 0;
  transition: opacity 0.8s linear;
}

.foreground {
  @apply flex flex-col text-white justify-center bg-gradient-to-b from-black via-transparent;
  grid-area: 1/1;
  position: relative;
  place-items: center normal;
}

.backgroundActive {
  opacity: 1;
}

.imgClassName {
}
