.sectionWrapper {
  @apply px-8 flex flex-col w-full my-12;
}

.postImage {
  @apply mr-auto border-4 border-white shadow-xl transform rotate-3;
  @screen md {
    max-width: 60%;
  }
}

.post {
  @apply relative flex flex-col transition-transform transform;
  transform: translateX(120%);
  grid-area: 1/1;
  @screen md {
    @apply flex-row;
  }
}

.postActive {
  @apply transform -translate-x-0;
}

.sectionBody {
  @apply grid;
}

.postTitle {
}

.postBody {
  @apply px-4 py-4 bg-white ml-12 transform -translate-y-3 flex flex-col;

  @screen md {
    @apply ml-0 mt-auto;
    max-width: 50vh;
  }
}

.sectionHeader {
  @apply mb-6 text-right;
}

.controllerWrap {
  @apply flex space-x-4 ml-auto;
}

.technicDetails {
  @apply mt-4;
}
