.menuBtn {
  @apply relative w-9 h-9 z-sky-2 laptop:hidden;

  .btnIcon {
    @apply absolute left-0 top-0 bottom-0 right-0 w-full h-full;
  }

  .barWrapper {
    @apply flex justify-between opacity-100 p-0.5;
    div {
      @apply bg-white h-full w-1.5 inline-block;
      transition: transform 0.2s ease-out,
        opacity 0.3s ease-out;
    }
  }

  .closeIconWrap {
    @apply flex items-center justify-center opacity-0;
    transition: opacity 0.3s ease-in;

    svg {
      @apply text-2xl;
    }
  }
}

.menuBtnActive {
  .barWrapper {
    div {
      @apply opacity-0;
      &:first-child {
        @apply transform -translate-y-3/4;
      }
      &:last-child {
        @apply transform translate-y-3/4;
      }
    }
  }

  .closeIconWrap {
    @apply opacity-100;
  }
}

.menu {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-primary w-screen h-screen flex flex-col z-sky pt-24 pb-12 px-mobile text-right transform translate-x-full transition-transform;
  @screen laptop {
    @apply static w-auto h-auto flex-row items-center bg-transparent p-0 transform translate-x-0;
  }
}

.menuActive {
  @apply transform translate-x-0;
}

.searchBtn {
  @apply text-xl;
}

.contactBtn {
  @apply border-2 border-white my-auto py-1 px-2 rounded-md;
}

.newNavigation {
  @apply flex flex-col h-full;
  @screen laptop {
    @apply flex-row h-auto;
  }
}

.navItem {
  @apply z-sky-1 h-full w-full border-2 border-white flex flex-col p-mobile justify-items-end justify-end transition-opacity bg-secondary bg-opacity-0 hover:bg-opacity-25;
  @screen laptop {
    @apply mr-mobile border-none h-auto w-auto inline-block my-0 p-0;
  }
}

.navItemWrap {
  @apply relative flex overflow-hidden h-full w-full rounded-sm my-2;
  @screen laptop {
    @apply my-0 h-auto w-auto;
  }
}

.navItemBg {
  @apply absolute w-full h-full left-0 right-0 bottom-0 top-0 z-sky laptop:hidden;
}

.mainHeader {
  @apply absolute top-full w-full flex flex-row justify-between items-center z-50 text-white px-mobile md:px-wrapper py-6 md:py-8 md:rounded-xl;
  background: linear-gradient(
    180deg,
    #000000 -38.71%,
    rgba(0, 0, 0, 0) 100%
  );
}

.headerTop {
  @apply hidden;
  @screen laptop {
    @apply flex flex-row w-full justify-end items-center h-8 relative;
    &::before {
      @apply bg-primary-light w-1/2 h-full absolute left-wrapper shadow-inner;
      content: "";
    }
  }
}

.headerTopActive {
  @apply flex flex-row space-x-4 justify-end py-2 text-primary px-4;
  visibility: visible;
}
