.background {
  @apply z-base overflow-hidden;
  height: 70vh;
  grid-area: 1 / 1 / span 4 / span 4;

  @screen laptop {
    @apply rounded-xl shadow-lead;
    height: 90vh;
    transition: height 0.5s;
  }
}

.foreground {
  @apply w-full col-span-4 bg-secondary bg-opacity-90 text-white flex flex-col py-6 px-mobile;
  h3 {
    @apply text-xl desktop:text-2xl;
  }
  h2 {
    @apply font-display font-black text-3xl laptop:text-4xl desktop:text-5xl;
  }

  @screen laptop {
    @apply px-11 z-base-step-1 w-auto pt-12 absolute bottom-0 right-wrapper bg-opacity-60 backdrop-filter backdrop-blur;
    &::after {
      @apply absolute z-base-step-1 w-full bg-secondary right-0 h-full top-full bg-opacity-60;
      content: "";
    }

    span {
      @apply block;
    }
  }
}
