.base {
  @apply h-screen w-screen relative bg-blue-50;
}

.background {
  @apply absolute w-screen h-screen top-0 left-0;
}

.backgroundImage {
  @apply absolute w-full h-screen left-0 top-0 flex;
  opacity: 0;
  transition: opacity 0.8s linear;
}

.backgroundImageActive {
  opacity: 1;
}

.innerContainer {
  @apply absolute w-full h-full top-0 left-0 bg-black bg-opacity-50 flex px-5;
}

.contentWrapper {
  @apply flex flex-col mx-auto my-auto gap-5;
}

.display {
  @apply font-display text-white text-3xl text-right md:text-5xl;
}

.buttonWrapper {
  @apply flex flex-col gap-y-4;
  @screen md {
    @apply flex-row gap-x-6 justify-end;
  }
}

.primaryBtn {
  @apply bg-yellow-600 text-white uppercase font-display px-4 py-4 rounded-md transition-colors hover:bg-yellow-500;
}

.secondaryBtn {
  @apply border-2 border-white text-white uppercase font-display py-4 px-4 transition-colors hover:bg-white hover:text-yellow-700;
}
