.aboutUsSection {
  @apply flex flex-col relative mb-14;
}

.aboutUsSection::before {
  @apply absolute w-screen h-10 -top-10 left-0;
  content: "";
  background-image: linear-gradient(
    rgba(249, 250, 251, 0),
    rgba(249, 250, 251, 0.7),
    rgba(249, 250, 251, 1)
  );
}

.container {
  @apply flex flex-col px-5 py-4 min-h-screen gap-y-9;
}

.contentCard {
  @apply flex flex-col gap-2 px-4 py-3 rounded-xl bg-white border-2 border-gray-400 mr-0 pb-10;

  h3 {
    @apply font-serif text-lg text-yellow-600 font-bold flex items-center gap-2;

    &::before {
      @apply w-7 bg-yellow-600 rounded-sm;
      content: "";
      height: 2px;
    }
  }

  h2 {
    @apply font-display text-xl text-gray-900;
  }

  p {
    @apply font-body text-gray-800;
  }
}

.contentCardReverse {
  @apply text-right mr-0 ml-0;
  h3 {
    @apply flex-row-reverse justify-items-end;
  }
}
