.baseWrapper {
  @apply h-screen w-screen;

  background-color: #ffffff;
  background-repat: repat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='429' height='51.5' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FF5522' stroke-width='9.8' stroke-opacity='0.05'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  @apply relative h-screen w-screen overflow-x-hidden;
}

.ground {
  @apply absolute h-full w-screen;
}

.background {
  @apply absolute w-full top-0 left-0;
}

.hero {
  @apply flex bg-black bg-opacity-50;
}

.heroContent {
  @apply flex flex-col gap-7 mx-auto my-auto px-4 text-white;

  .rotasizSpan {
    @apply flex flex-row-reverse w-full text-yellow-600 font-bold text-xl gap-2 hidden;
    .line {
      @apply h-1 rounded-sm w-10 my-auto bg-yellow-600;
    }
    .lineStretch {
      @apply h-1 rounded-sm flex-grow my-auto bg-yellow-600;
    }
  }

  .display {
    @apply text-3xl font-display tracking-wide leading-snug text-right;
  }

  h4 {
    @apply font-body font-bold text-opacity-60 mr-12 text-lg text-white text-left;
  }
}
