.baseWrapper {
  @apply h-screen;
}

.parallaxContainer {
  @apply relative w-full h-screen overflow-x-hidden overflow-y-scroll;
  perspective: 8px;
  perspective-origin: 0%;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper {
}

.ground {
  @apply absolute;
  transform-origin: 0 50%;
}

.background {
  @apply h-full w-full;
  transform: translateZ(0px) scale(1);
}

.hero {
  @apply w-full h-full;
  transform: translateZ(2px) scale(0.75);
}

.heroContent {
  @apply top-1/2 absolute w-full h-full mx-auto my-auto uppercase text-white font-bold bg-gray-400 bg-opacity-20;
}

.foreground {
  @apply h-full w-full;

  transform-origin: 0;
  transform: translateZ(5px) scale(0.375);
}

.foregroundContent {
  @apply absolute h-32 top-2/4 bg-white w-full;
}
