.wrapper {
  @apply flex flex-col bg-white pb-8;

  @screen md {
    @apply flex-row container w-full gap-x-8;
    height: 400px;
  }
}

.contentWrapper {
  @apply flex flex-col md:w-1/2 justify-between px-8 md:px-0 gap-y-3 md:pt-8;
}

.decoration {
  @apply h-3/5 object-bottom relative md:w-1/2 md:h-full;
  &::after {
    @apply absolute bottom-0 w-full left-0 transform rotate-180;
    content: " ";
    background: url("../../svgs/rip.svg") bottom;
    background-size: 100%;
    height: 20px;

    @screen md {
      @apply bottom-auto left-full transform rotate-90;
      transform-origin: top left;
      width: 400px;
    }
  }
}

.sectionHeader {
  @apply flex justify-between;

  .iconWrapper {
    @apply flex gap-x-2 text-3xl;
  }
}

.makeGray {
  @apply filter grayscale;
}

.color {
  @apply filter grayscale-0;
}

.sectionBody {
  @apply flex flex-col text-white w-full h-full;
}

.container {
  @apply mt-12;
}

.innerContainer {
  @apply flex flex-col antialiased;
}

.sectionTitle {
  @apply font-black text-secondary text-2xl md:text-2xl;
}

.cardImageWrapper {
  @apply h-full w-full;
}

.cardImage {
  object-fit: cover;
  object-position: 50% 80%;
}

.buttonWrapper {
  @apply flex gap-x-8 justify-end;
  button {
    @apply text-black h-12 w-12;
    svg {
      @apply mx-auto my-auto;
    }
  }
}

.activeIndex {
  @apply ml-auto opacity-30 text-4xl md:text-5xl;
  font-family: "Bungee", cursive;
}
