@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    @apply font-body;
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .primaryBtn {
    @apply font-body text-center bg-white text-yellow-500 px-4 py-2 hover:bg-yellow-500 hover:text-white;
  }

  .btn {
    @apply bg-blue-600 text-white;
  }

  .card {
    @apply shadow-xl;
  }

  .rotasiz-layout {
    @apply flex flex-col min-h-screen w-screen overflow-x-hidden;
  }

  .content-safe {
    @apply px-4 md:container md:px-8;
  }
}

@layer utilities {
}
