@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-display;
    font-weight: 700;
  }

  @supports (font-variation-settings: normal) {
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Maven ProVariable";
      font-variation-settings: "wght" 700;
    }
  }

  body {
    @apply font-body text-black;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  p {
    @apply text-base font-medium;
  }
}

@layer components {
  .link {
    @apply font-display font-semibold text-secondary text-xl;
  }

  .big-link {
    @apply font-display font-bold text-info-dark text-2xl;
  }

  .sub-link {
    @apply font-display font-medium text-gray-dark text-base;
  }

  .button-text {
    @apply font-display font-medium text-secondary text-xl;
  }

  .big-button-text {
    @apply font-display font-bold text-white text-3xl;
  }

  .big-title {
    @apply font-display font-extrabold text-3xl tablet:text-4xl;
  }

  .sub-title {
    @apply font-display font-bold text-secondary text-xl;
  }

  .section-wrap {
    @apply px-mobile laptop:px-wrapper my-8 py-8;
  }

  @supports (font-variation-settings: normal) {
    .link {
      font-family: "Maven ProVariable";
      font-variation-settings: "wght" 700;
    }

    .big-title {
      font-family: "Maven ProVariable";
      font-variation-settings: "wght" 900;
    }
  }

  .pageLead {
    @apply grid relative z-base;

    @screen laptop {
      @apply rounded-2xl;
      &::after {
        @apply absolute -z-10 h-1/2 w-wrapper -right-wrapper top-1/3;
        content: "";
        background-color: #fff;
        opacity: 1;
        background: repeating-linear-gradient(
          45deg,
          #384c4a,
          #384c4a 3.5px,
          #fff 3.5px,
          #fff 17.5px
        );
      }
    }
  }

  .pageLeadImg {
    @apply z-base overflow-hidden;
    height: 50vh;
    grid-area: 1 / 1 / span 4 / span 4;

    @screen laptop {
      @apply rounded-xl;
      height: 80vh;
      transition: height 0.5s;
    }
  }

  .pageLeadTitleBox {
    @apply flex z-base-step-1 py-8 px-wrapper laptop:rounded-b-xl text-white font-display text-2xl;
    grid-area: 4 / 1 / span 1 / span 4;
  }

  .section-wrap {
    @apply w-full px-mobile rounded-xl py-8 my-12 laptop:px-wrapper;
  }

  .section-gray {
    @apply bg-gray-lightest;
  }

  .wrap-simple-row {
    @apply grid grid-flow-col grid-rows-2 gap-y-6;
    @screen laptop {
      @apply grid-flow-row grid-cols-2 grid-rows-none gap-x-8;
    }
  }

  .wrap-simple-row-justify {
    @apply w-full grid grid-flow-row grid-rows-4 justify-items-center gap-y-6;
    @screen laptop {
      @apply grid-flow-row grid-cols-4 grid-rows-none gap-x-8;
    }
  }
}

@layer utilities {
}
