@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .text-link {
    @apply uppercase font-display;
  }

  .responsive-flex {
    @apply flex flex-col space-x-5 md:flex-row;
  }

  .row {
    @apply flex flex-row;
  }

  .column {
    @apply flex flex-col;
  }

  .button-primary {
    @apply bg-yellow-600 text-white uppercase font-display px-4 py-4 rounded-md;
  }

  .button-secondary {
    @apply border-2 border-white px-4 text-white uppercase font-display py-2;
  }
}

@layer utilities {
  .center {
    @apply mx-auto my-auto;
  }
}
