.sectionContainer {
  @apply w-full;
  height: 600px;

  @screen md {
    @apply container px-8 mx-auto;
    height: 400px;
  }
}

.title {
  @apply font-display font-black text-4xl md:text-5xl;
}

.body {
  @apply flex flex-col py-4 flex-1;
}

.content {
  @apply mt-4 subpixel-antialiased;
}

.innerContainer {
  @apply flex flex-col h-full;

  @screen md {
    @apply w-full flex-row;
  }
}

.sectionTitle {
  @apply font-black text-secondary text-xl md:text-2xl;
}

.decoration {
  @apply h-3/5 object-bottom relative md:w-1/2 md:h-full;
  &::after {
    @apply absolute bottom-0 w-full left-0 transform rotate-180;
    content: " ";
    background: url("../../svgs/rip.svg") bottom;
    background-size: 100%;
    height: 20px;

    @screen md {
      @apply bottom-auto left-full transform rotate-90;
      transform-origin: top left;
      width: 400px;
    }
  }
}
