.container {
  @apply px-4 py-8 text-primary bg-white;
}

.wrapper {
  @apply flex flex-col gap-y-6;
}

.sectionTitle {
  @apply font-display font-bold text-2xl text-center mx-auto flex flex-col gap-y-3 md:text-left;
  &::before,
  &::after {
    @apply w-3/5 bg-yellow-500 block mx-auto rounded-full;
    height: 2px;
    content: "";
    @screen md {
      content: none;
    }
  }
}

.imageWrapper {
  @apply w-full ml-auto relative overflow-visible flex;
  transform: translateX(-1.6em) rotate(1deg);
  &::before {
    content: "";
    @apply absolute w-full h-full border-2 border-yellow-600 left-2 top-2;
  }

  @screen md {
    @apply transform rotate-0 translate-x-0;
    &::before {
      content: none;
    }
  }
}

.image {
  object-fit: cover;
  object-position: 50% 100%;
}

.innerContainer {
  @apply flex flex-col gap-y-6 relative;
  @screen md {
    @apply flex-row-reverse gap-x-6;
  }
}

.content {
  @apply text-left antialiased;

  @supports (font-variation-settings: normal) {
    h3 {
      @apply text-4xl md:text-5xl;
      font-family: "Maven ProVariable";
      font-variation-settings: "wght" 900;
    }
  }

  p {
    @apply mt-6;
  }
}
