.navButton {
  @apply w-2 h-7 bg-white relative;
  &::before,
  &::after {
    @apply absolute w-2 h-7 top-0 bottom-0 bg-white;
    content: "";
  }

  &::before {
    @apply -left-3;
  }
  &::after {
    @apply -right-3;
  }
}

.container {
  @apply fixed top-0 left-0 right-0 z-20 px-5;
}

.innerContainer {
  @apply container h-20 flex flex-row justify-between mx-auto relative;

  &::before {
    @apply absolute top-0 left-0 h-full w-full;
    content: "";
    background-image: url("../../svgs/brush-stroke-banner-6.svg");
    background-size: 120% 300%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
