.navButton {
  @apply w-2 h-7 bg-white relative;
  &::before,
  &::after {
    @apply absolute w-2 h-7 top-0 bottom-0 bg-white;
    content: "";
  }

  &::before {
    @apply -left-3;
  }
  &::after {
    @apply -right-3;
  }
}

.container {
  @apply fixed top-0 left-0 right-0 z-20 bg-black px-5;
  background-color: #132624;
}

.innerContainer {
  @apply container h-20 flex flex-row justify-between mx-auto relative;
  &::after {
    @apply absolute top-full left-0 h-6 w-screen;
    content: "";
    background: url(../../svgs/rip.svg) bottom;
  }
}
