.container {
  @apply flex flex-col w-full text-black bg-white border-2 border-gray-400 mb-6 rounded-sm gap-x-4 relative;
}

.featuredImage {
  @apply w-full object-cover;
  flex: 2;
}

.body {
  @apply flex flex-col px-2 py-4;
  flex: 5;
  h2 {
    @apply font-body text-black font-black;
  }
}

.dateField {
  @apply text-sm text-yellow-600 font-medium flex items-center gap-2 font-body;
  &::before {
    @apply w-3 bg-yellow-600 rounded-sm;
    content: "";
    height: 2px;
  }
}

.readMore {
  @apply text-xs text-gray-400 text-right ml-auto mr-2 inline-block;
}
